#ConversionPit {
  background-color: var(--Main-Color-Dimmed);
  border: 4px dashed var(--Main-Color);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
}
